/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* targets the html body */
body {
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpeg");*/
	background-image: linear-gradient(rgba(17, 126, 112,  .75),rgba(0, 88, 255, .45)), url("../images/bg.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #f2f2f2; /* off whie */
/* end of body styling */	
}

/* targets html element h1 */
h1 {
	font-size: 50px;
	background-color: #333; /*off black*/
	text-transform: uppercase;
	margin-bottom: 60px;
	letter-spacing: 1px;
	font-family: 'Saira Extra Condensed', sans-serif;
	border-radius: 100px;


}
/*end of h1*/

/*start of h2*/
h2{
	color: yellow; 
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	/*margin: 10px; adds space outside of the element*/
	padding: 10px; 
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}
/*end of h2*/

/*targets the elements with the calls bio*/
.bio {
font-family: 'Montserrat', sans-serif;	
font-size: 18px;
background-color: rgba(51,51,51, 0.5);
line-height: 1.75;
}
/*end of class bio styling*/

/*targets the element with the id me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: lightblue;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;


}

.container{
	width: 500px;
	text-align: center;
	margin: 0 auto; /*this will center the element horizontally*/
}

/*end of the id me*/